
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.flex-container{
    background-image: url(bg7.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
    
}

.icon{
    width: 300px;
    padding: 5px;
    margin: 5px;
    flex-grow: 1;
    text-align: center;
    box-shadow: black 5px 5px 5px;
}

img{
    width: 19vw; 
    
}


p {
    display: none;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.types, .type{
    display: none;
}

.types {
    display: block;
    text-align: center;
  }

.pokeball{
    display: none;
}


#pikachu{

    background-color:  #FFF800;
}

#mankey{
    background-color: rgb(238, 206, 179);
}

#snorlax{
    background-color: #F9CB58;
}

#charmander{
    background-color: #FFAD40;
}

#eevee{
    background-color: #D3964C;

}

#dratini{
    background-color: #42B1E8;

}

#mew{
    background-color:pink;

}

#caterpie{
    background-color: lightgreen;

}
#meowth{
    background-color: rgb(222, 205, 191);

}

#squirtle{
    background-color: #7FE5D8;

}
#rattata{
    background-color: #9d00d1;

}
#psyduck{
    background-color: rgb(252, 215, 9);

}

#normal{
    background-color: #A8A77A;

}

#fire{
    background-color: #EE8130;

}

#water{
    background-color: #6390F0;

}

#electric{
    background-color: #F7D02C;

}

#grass{
    background-color: #7AC74C;

}

#poison{
    background-color: #A33EA1;

}

#flying{
    background-color: #A98FF3;

}

#psychic{
    background-color: #F95587;

}

#fairy{
    background-color: #D685AD;

}

#fighting{
    background-color: #C22E28;

}

#bug{
    background-color: #A6B91A;

}

#dragon{
    background-color: #6F35FC;

}

.icon:hover {
    background-image: url(POKEMON-HOVER-BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: ease-in-out 0.25s;
}



@media (max-width: 1310px) {
    .icon{
    width: 250px;
    padding: 5px;
    margin: 5px;
    flex-grow: 1;
    }

    img{
        width: 19vw;
    }
    
    .pokeball .type{
        display: none;
    }

}

@media (max-width: 990px){
    .flex-container {
        flex-direction: column;
        gap: 10px;
        
        
      }
      .icon {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
      }
     
        img {
            width: 200px;
            display: inline-block;
        }

      p {
        display: inline-block;
        font-size: 2rem;
        text-align: center;
      }
      .pokeball {
        display: inline-block;
        width: 150px;
      }

    }

@media (max-width: 690px){
    .icon{
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .types , .type {
        display: inline-block;
    }

    
    .pokeball{
        display: none;
    }

    p{
        font-size: 1rem;
        border-radius: 10px;
        padding: 5px;
        margin: 5px;
    }
}






