* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #25364B;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F1320;
    padding: 1rem;
}

.logo {
    color: #C6A275;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1rem;
}

.nav-links a {
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ddd;
}

.main-content {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
}

.left-content {
    flex: 3;
    margin-right: 1rem;
    min-width: 60%;
}

.right-content {
    flex: 1;
    min-width: 35%;
}

.large-box, .large-box2 {
    background-color: #f0f0f0;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 5px;
}

.large-box img, .large-box2 img{
    width: 100%;
    height: auto;
    display: block;
}

.small-box {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.grid-item {
    background-color: #e0e0e0;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
}

.grid-item img:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .left-content {
        margin-right: 0;
        min-width: 100%;
    }

    .right-content {
        min-width: 100%;
        margin-top: 1rem;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 0.5rem 0;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}
